{% extends "17-ios.j2" %}


{% block hostname %}
hostname holasoyunrouter.com
{% endblock hostname %}

{% block interfaces %}
{% for interface,settings in datos.interfaces.items() %}
interface {{interface}}
  {% for address in settings.ipv4.addresses %}
  ip address {{ address | ip_address() }} {{address | ip_netmask()}}
  {% endfor %}
  {% for address in settings.ipv6.addresses %}
  ipv6 address {{address}}
  {% endfor %}
{% endfor %}
{% endblock interfaces %}

{% block ospf %}
{% if 'protocols' in datos %}
{% if 'ospf' in datos.protocols %}
{% set ospf = datos.protocols.ospf %}
router ospf 1
  router-id {{ospf.router_id}}
{% for interface,settings in datos.interfaces.items() %}
{% if 'ospf' in settings.protocols %}
{% for address in settings.ipv4.addresses %}
  network {{ address | ip_address() }} {{ address | ip_wildcard() }} area {{settings.protocols.ospf.area}}
{% endfor %}
{% else %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endblock ospf %}