{% if 'protocols' in datos %}
{% if 'ospf' in datos.protocols %}
{% set ospf = datos.protocols.ospf %}
router ospf 1
  router-id {{ospf.router_id}}
{% for interface,settings in datos.interfaces.items() %}
{% if 'ospf' in settings.protocols %}
{% for address in settings.ipv4.addresses %}
  network {{ address | ip_address() }} {{ address | ip_wildcard() }} area {{settings.protocols.ospf.area}}
{% endfor %}
{% else %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}